In [142]:
import pandas as pd

In [146]:
pd.__version__

'0.24.2'

In [172]:
"input path of file into commas to access file needed"

data = pd.read_csv('/Users/thushan/downloads/weather_year.csv')

In [212]:
data

,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,10/03/2012,56,40,24,24,20,16,74,50,26,...,10,10,10,13,6,17.0,0,0,NaN,138
1,11/03/2012,67,49,30,43,31,24,78,53,28,...,10,10,10,22,7,32.0,T,1,Rain,163
2,12/03/2012,71,62,53,59,55,43,90,76,61,...,10,10,6,24,14,36.0,0.03,6,Rain,190
3,13/03/2012,76,63,50,57,53,47,93,66,38,...,10,10,4,16,5,24.0,0,0,NaN,242
4,14/03/2012,80,62,44,58,52,43,93,68,42,...,10,10,10,16,6,22.0,0,0,NaN,202
5,15/03/2012,79,69,58,61,58,53,90,69,48,...,10,10,10,31,10,41.0,0.04,3,Rain-Thunderstorm,209
6,16/03/2012,75,64,52,57,54,51,100,75,49,...,10,10,10,14,5,20.0,T,2,NaN,169
7,17/03/2012,78,62,46,60,54,46,100,78,56,...,10,5,0,12,5,17.0,T,3,Fog-Thunderstorm,162
8,18/03/2012,80,70,59,61,58,57,93,69,45,...,10,10,9,18,8,25.0,T,2,Rain,197
9,19/03/2012,84,72,59,58,56,50,90,66,42,...,10,10,10,17,6,23.0,0,1,NaN,165
10,20/03/2012,84,71,58,56,54,50,78,58,37,...,10,10,10,17,5,24.0,0,0,NaN,154
11,21/03/2012,84,71,57,56,54,52,84,58,32,...,10,10,10,17,6,23.0,0,1,NaN,152
12,22/03/2012,81,69,57,63,57,51,87,65,42,...,10,10,2,31,4,41.0,0.14,3,Rain,159
13,23/03/2012,73,64,55,61,58,54,97,79,61,...,10,9,2,21,6,24.0,0.86,7,Rain-Thunderstorm,129
14,24/03/2012,65,56,46,54,49,43,100,80,48,...,10,8,0,12,5,14.0,0.06,5,Fog-Rain,222
15,25/03/2012,69,61,52,55,53,51,100,82,63,...,10,8,4,14,5,20.0,0,6,NaN,353
16,26/03/2012,63,54,44,52,38,30,96,64,32,...,10,10,9,17,9,22.0,0,2,NaN,48
17,27/03/2012,70,54,38,42,32,25,64,46,27,...,10,10,10,15,8,20.0,0,0,NaN,140
18,28/03/2012,77,64,51,56,46,33,73,47,21,...,10,10,10,20,9,25.0,T,2,Thunderstorm,269
19,29/03/2012,69,58,46,45,39,35,76,55,34,...,10,10,10,14,6,17.0,T,2,Rain,84
20,30/03/2012,81,66,51,61,50,42,78,59,39,...,10,10,10,25,11,37.0,0.01,4,Rain-Thunderstorm,182
21,31/03/2012,66,58,49,54,47,44,93,71,48,...,10,8,4,13,6,16.0,0,4,NaN,28
22,01/04/2012,79,64,48,62,52,44,96,75,54,...,10,6,1,24,7,31.0,0.51,4,Rain-Thunderstorm,169
23,02/04/2012,68,62,55,60,51,45,97,73,48,...,10,9,5,16,9,21.0,0.01,3,NaN,109
24,03/04/2012,84,69,53,60,51,41,66,53,40,...,10,10,10,14,6,18.0,0,0,NaN,188
25,04/04/2012,68,62,55,59,54,42,90,74,57,...,10,8,3,15,7,18.0,0.01,6,Rain-Thunderstorm,42
26,05/04/2012,61,53,44,43,35,30,92,64,36,...,10,9,2,20,12,28.0,0.69,3,Rain,66
27,06/04/2012,61,48,35,35,31,28,79,56,32,...,10,10,10,16,8,22.0,0,0,NaN,55
28,07/04/2012,67,50,32,43,31,26,82,52,22,...,10,10,10,10,3,14.0,0,1,NaN,131
29,08/04/2012,66,56,45,46,34,20,77,48,19,...,10,10,10,21,7,33.0,T,2,Rain,325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,09/02/2013,43,33,23,24,22,19,88,67,45,...,10,10,8,13,5,17.0,0,2,NaN,124
337,10/02/2013,52,44,35,48,37,21,89,71,52,...,10,9,2,21,11,32.0,0.27,7,Rain,160
338,11/02/2013,53,45,36,48,31,25,89,71,53,...,10,10,10,26,14,41.0,0,4,NaN,255
339,12/02/2013,45,35,24,29,25,20,82,66,49,...,10,9,4,14,4,17.0,0,1,NaN,278
340,13/02/2013,44,37,30,29,25,23,85,63,41,...,10,8,5,15,5,22.0,0,4,NaN,281
341,14/02/2013,52,42,31,36,32,25,89,70,50,...,10,9,6,18,10,26.0,0,4,NaN,232
342,15/02/2013,39,30,21,28,22,13,85,66,47,...,10,10,7,17,5,24.0,T,5,NaN,290
343,16/02/2013,29,24,19,16,12,7,84,63,42,...,10,10,10,20,6,28.0,0,4,NaN,303
344,17/02/2013,36,24,12,14,9,4,80,56,32,...,10,10,10,9,2,14.0,0,1,NaN,197
345,18/02/2013,58,43,27,43,30,13,86,61,36,...,10,10,5,32,15,44.0,0.39,4,Rain,179
346,19/02/2013,47,35,23,43,19,10,86,71,55,...,10,10,3,30,16,39.0,0.1,8,Rain-Snow,282
347,20/02/2013,28,21,14,13,9,6,73,58,42,...,10,10,10,13,6,18.0,0,2,NaN,317
348,21/02/2013,33,24,15,27,20,12,88,71,54,...,10,7,0,23,10,32.0,0.3,5,Fog-Rain-Snow,91
349,22/02/2013,37,34,31,34,30,23,96,83,70,...,10,5,0,23,10,30.0,0.03,8,Fog-Rain,200
350,23/02/2013,38,31,23,23,20,18,75,64,52,...,10,10,9,13,5,17.0,0,1,NaN,277
351,24/02/2013,45,33,20,25,21,17,88,64,40,...,10,8,4,7,1,10.0,0,0,NaN,5
352,25/02/2013,47,36,24,26,23,21,88,63,38,...,10,8,2,18,9,24.0,0,1,NaN,93
353,26/02/2013,44,40,35,43,35,23,93,72,50,...,10,5,1,21,9,25.0,1.17,8,Rain,109
354,27/02/2013,40,36,32,37,30,27,92,87,82,...,10,4,1,22,11,31.0,0.05,8,Snow,251
355,28/02/2013,37,35,32,32,30,27,96,86,76,...,10,7,1,15,8,21.0,0.01,8,Rain-Snow,295
356,01/03/2013,36,34,31,29,28,26,85,80,75,...,10,4,1,13,5,15.0,0.03,8,Snow,342
357,02/03/2013,32,30,27,27,22,19,85,72,59,...,10,9,2,20,8,23.0,T,8,Snow,351
358,03/03/2013,37,28,19,22,18,13,84,63,41,...,10,9,2,10,4,14.0,T,3,Snow,291
359,04/03/2013,40,30,19,24,19,15,84,64,44,...,10,10,9,17,7,22.0,T,4,Rain,123
360,05/03/2013,40,35,29,37,29,24,100,80,59,...,10,3,0,26,10,44.0,0.26,8,Fog-Rain-Snow,280
361,06/03/2013,32,31,29,27,26,25,92,85,78,...,10,5,1,22,9,33.0,0.04,8,Snow,314
362,07/03/2013,36,32,28,27,25,22,85,71,56,...,10,9,6,8,2,12.0,0,8,NaN,342
363,08/03/2013,47,35,23,27,24,21,88,65,42,...,10,9,5,12,3,14.0,0,1,NaN,90
364,09/03/2013,56,45,33,32,29,23,75,57,38,...,10,10,10,16,10,24.0,T,2,NaN,141
365,10/03/2013,60,52,50,37,34,32,54,48,42,...,10,10,10,14,8,26.0,0,1,NaN,167

In [238]:
"This removes spaces at the beginning of the column string and replaces any remaning spaces with underscore _"

new_columns = []
for col in data.columns:
    col = col.strip()
    new_columns.append(col.replace(" ", "_"))
data.columns = new_columns

In [237]:
"Break down above code into 1 line"

new_columns = [col.strip().replace(" ", "_") for col in data.columns]

In [241]:
"Column names are cleaner now"

data.head()

,EDT,Max_TemperatureF,Mean_TemperatureF,Min_TemperatureF,Max_Dew_PointF,MeanDew_PointF,Min_DewpointF,Max_Humidity,Mean_Humidity,Min_Humidity,...,Max_VisibilityMiles,Mean_VisibilityMiles,Min_VisibilityMiles,Max_Wind_SpeedMPH,Mean_Wind_SpeedMPH,Max_Gust_SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,10/03/2012,56,40,24,24,20,16,74,50,26,...,10,10,10,13,6,17.0,0,0,NaN,138
1,11/03/2012,67,49,30,43,31,24,78,53,28,...,10,10,10,22,7,32.0,T,1,Rain,163
2,12/03/2012,71,62,53,59,55,43,90,76,61,...,10,10,6,24,14,36.0,0.03,6,Rain,190
3,13/03/2012,76,63,50,57,53,47,93,66,38,...,10,10,4,16,5,24.0,0,0,NaN,242
4,14/03/2012,80,62,44,58,52,43,93,68,42,...,10,10,10,16,6,22.0,0,0,NaN,202

In [180]:
type(data)

pandas.core.frame.DataFrame

In [181]:
len(data)

366

In [191]:
data2 = data[["EDT","Mean TemperatureF"]]

In [192]:
type(data2)

pandas.core.frame.DataFrame

In [193]:
data.describe()

,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,CloudCover,WindDirDegrees
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,365.000000,366.000000,366.000000
mean,66.803279,55.683060,44.101093,49.549180,44.057377,37.980874,90.027322,67.860656,45.193989,30.108907,30.022705,29.936831,9.994536,8.732240,5.797814,16.418033,6.057377,22.764384,2.885246,189.704918
std,20.361247,18.436506,17.301141,16.397178,16.829996,17.479449,9.108438,9.945591,15.360261,0.172189,0.174112,0.182476,0.073821,1.875406,3.792219,5.564329,3.200940,8.131092,2.707261,94.045080
min,16.000000,11.000000,1.000000,0.000000,-3.000000,-5.000000,54.000000,37.000000,15.000000,29.640000,29.420000,29.230000,9.000000,2.000000,0.000000,6.000000,0.000000,7.000000,0.000000,1.000000
25%,51.000000,41.000000,30.000000,36.000000,30.000000,24.000000,85.000000,61.250000,35.000000,29.990000,29.910000,29.830000,10.000000,8.000000,2.000000,13.000000,4.000000,17.000000,0.000000,131.000000
50%,69.000000,59.000000,47.000000,54.500000,48.000000,41.000000,93.000000,68.000000,42.000000,30.100000,30.020000,29.940000,10.000000,10.000000,6.000000,16.000000,6.000000,22.000000,2.000000,192.500000
75%,84.000000,70.750000,57.750000,62.000000,57.000000,51.000000,96.000000,74.000000,54.000000,30.210000,30.127500,30.040000,10.000000,10.000000,10.000000,20.000000,8.000000,26.000000,5.000000,259.750000
max,106.000000,89.000000,77.000000,77.000000,72.000000,71.000000,100.000000,95.000000,90.000000,30.600000,30.480000,30.440000,10.000000,10.000000,10.000000,39.000000,19.000000,63.000000,8.000000,360.000000

In [206]:
"Save data as new_weather.csv then load it again using pd.read_csv"

data.to_csv('new_weather.csv', sep =';', index = False)

In [207]:
new_data = pd.read_csv('new_weather.csv', sep =';')

In [208]:
new_data.head()

,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,10/03/2012,56,40,24,24,20,16,74,50,26,...,10,10,10,13,6,17.0,0,0,NaN,138
1,11/03/2012,67,49,30,43,31,24,78,53,28,...,10,10,10,22,7,32.0,T,1,Rain,163
2,12/03/2012,71,62,53,59,55,43,90,76,61,...,10,10,6,24,14,36.0,0.03,6,Rain,190
3,13/03/2012,76,63,50,57,53,47,93,66,38,...,10,10,4,16,5,24.0,0,0,NaN,242
4,14/03/2012,80,62,44,58,52,43,93,68,42,...,10,10,10,16,6,22.0,0,0,NaN,202

In [219]:
"To get multiple columns from data set, pass column names as a list"

data[[' Mean Humidity', ' Min Humidity', ' Max Sea Level PressureIn']]

      Mean Humidity   Min Humidity   Max Sea Level PressureIn
0                50             26                      30.53
1                53             28                      30.37
2                76             61                      30.13
3                66             38                      30.12
4                68             42                      30.15
5                69             48                      30.13
6                75             49                      30.14
7                78             56                      30.15
8                69             45                      30.14
9                66             42                      30.09
10               58             37                      30.09
11               58             32                      30.14
12               65             42                      30.11
13               79             61                      30.03
14               80             48                      29.88
15               82             63                      30.05
16               64             32                      30.26
17               46             27                      30.26
18               47             21                      29.97
19               55             34                      30.08
20               59             39                      29.93
21               71             48                      29.91
22               75             54                      29.89
23               73             48                      29.90
24               53             40                      29.92
25               74             57                      29.82
26               64             36                      30.01
27               56             32                      30.21
28               52             22                      30.30
29               48             19                      30.27
..              ...            ...                        ...
336              67             45                      30.41
337              71             52                      30.14
338              71             53                      30.09
339              66             49                      30.15
340              63             41                      29.91
341              70             50                      30.03
342              66             47                      30.19
343              63             42                      30.17
344              56             32                      30.26
345              61             36                      30.13
346              71             55                      30.19
347              58             42                      30.35
348              71             54                      30.35
349              83             70                      30.02
350              64             52                      30.02
351              64             40                      30.15
352              63             38                      30.14
353              72             50                      29.77
354              87             82                      29.75
355              86             76                      30.01
356              80             75                      30.07
357              72             59                      30.14
358              63             41                      30.15
359              64             44                      30.13
360              80             59                      29.91
361              85             78                      30.31
362              71             56                      30.40
363              65             42                      30.48
364              57             38                      30.32
365              48             42                      29.94

[366 rows x 3 columns]

In [244]:
"Returns the number of times a value appears in the column - a numerical histogram"

data.Max_TemperatureF.value_counts()

86     10
87      9
73      9
80      9
92      9
84      9
54      8
78      8
63      7
37      7
66      7
68      7
79      7
81      7
82      7
67      7
89      7
88      6
76      6
57      6
48      6
61      6
62      6
47      6
45      6
40      6
72      6
70      6
77      6
95      6
       ..
59      3
101     3
74      3
58      3
90      3
64      3
65      3
85      3
93      3
97      3
34      2
35      2
30      2
49      2
41      2
29      2
26      2
28      1
25      1
27      1
18      1
24      1
106     1
38      1
42      1
104     1
96      1
99      1
100     1
16      1
Name: Max_TemperatureF, Length: 83, dtype: int64